/* body {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1510051640316-cee39563ddab?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjB8fGZvb3RiYWxsfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center;
  } */

  /* .cover-container{
    max-width: 60vw;
  } */

ul.nav.navbar-nav {
    align-items: center;
  }
  
ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
  }

ul.nav.navbar-nav li a{
color: black;
}

.navbar-brand > img {
    margin-bottom: 5px;
    margin-right: 5px;
  }
/* 
.nav-link.active{
  color: white
} */

