{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
<h2 class="display-5">Premier League Table</h2>
</div>
  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-7">
        <table class="table table-striped">
            <thead style="background-color: #e4f0edaa">
                <th>Rank</th>
                <th>Team</th>
                <th>Form</th>
                <th>Goal diff.</th>
                <th>Points</th>
            </thead>
            <tbody style="background-color: #e4f0edaa">
                {% for team in league %}
                <tr>
                    <td>{{team.rank}}</td>
                    <td><img src={{team.logo}} width="30" height="30" class="d-inline-block align-top" alt="logo">  {{team.team.team_name}}</td>
                    <td>{{team.form}}</td>
                    <td>{{team.goalsDiff}}</td>
                    <td>{{team.points}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    
    </div>
  </div>

{% endblock %}